In [166]:
import pandas as pd
import numpy as np
from random import sample
import matplotlib.pyplot as plt

In [167]:
bucket='bigdata-project-uncc'

file_key = 'covid-19-world-cases-deaths-testing.csv'

s3uri = 's3://{}/{}'.format(bucket, file_key)

df = pd.read_csv(s3uri)

# # Description of index, entries, columns, data types, memory info

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132644 entries, 0 to 132643
Data columns (total 65 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 132644 non-null  object
 1   continent                                124170 non-null  object
 2   location                                 132644 non-null  object
 3   date                                     132644 non-null  object
 4   total_cases                              125410 non-null  float64
 5   new_cases                                125408 non-null  float64
 6   new_cases_smoothed                       124365 non-null  float64
 7   total_deaths                             114293 non-null  float64
 8   new_deaths                               114489 non-null  float64
 9   new_deaths_smoothed                      124365 non-null  float64
 10  total_cases_per_million                  124766 non-null  float64
 11  new_cases_per_million                    124764 non-null  float64
 12  new_cases_smoothed_per_million           123726 non-null  float64
 13  total_deaths_per_million                 113662 non-null  float64
 14  new_deaths_per_million                   113858 non-null  float64
 15  new_deaths_smoothed_per_million          123726 non-null  float64
 16  reproduction_rate                        104426 non-null  float64
 17  icu_patients                             15955 non-null   float64
 18  icu_patients_per_million                 15955 non-null   float64
 19  hosp_patients                            18699 non-null   float64
 20  hosp_patients_per_million                18699 non-null   float64
 21  weekly_icu_admissions                    1340 non-null    float64
 22  weekly_icu_admissions_per_million        1340 non-null    float64
 23  weekly_hosp_admissions                   2127 non-null    float64
 24  weekly_hosp_admissions_per_million       2127 non-null    float64
 25  new_tests                                55090 non-null   float64
 26  total_tests                              55345 non-null   float64
 27  total_tests_per_thousand                 55345 non-null   float64
 28  new_tests_per_thousand                   55090 non-null   float64
 29  new_tests_smoothed                       66893 non-null   float64
 30  new_tests_smoothed_per_thousand          66893 non-null   float64
 31  positive_rate                            62869 non-null   float64
 32  tests_per_case                           62209 non-null   float64
 33  tests_units                              68912 non-null   object
 34  total_vaccinations                       33391 non-null   float64
 35  people_vaccinated                        31843 non-null   float64
 36  people_fully_vaccinated                  28854 non-null   float64
 37  total_boosters                           5855 non-null    float64
 38  new_vaccinations                         27787 non-null   float64
 39  new_vaccinations_smoothed                59510 non-null   float64
 40  total_vaccinations_per_hundred           33391 non-null   float64
 41  people_vaccinated_per_hundred            31843 non-null   float64
 42  people_fully_vaccinated_per_hundred      28854 non-null   float64
 43  total_boosters_per_hundred               5855 non-null    float64
 44  new_vaccinations_smoothed_per_million    59510 non-null   float64
 45  stringency_index                         108117 non-null  float64
 46  population                               131704 non-null  float64
 47  population_density                       120074 non-null  float64
 48  median_age                               114425 non-null  float64
 49  aged_65_older                            113159 non-null  float64
 50  aged_70_older                            113800 non-null  float64
 51  gdp_per_capita                           115174 non-null  float64
 52  extreme_poverty                          77021 non-null   float64
 53  cardiovasc_death_rate                    114669 non-null  float64
 54  diabetes_prevalence                      118421 non-null  float64
 55  female_smokers                           89329 non-null   float64
 56  male_smokers                             88037 non-null   float64
 57  handwashing_facilities                   57713 non-null   float64
 58  hospital_beds_per_thousand               104208 non-null  float64
 59  life_expectancy                          123313 non-null  float64
 60  human_development_index                  114771 non-null  float64
 61  excess_mortality_cumulative_absolute     4656 non-null    float64
 62  excess_mortality_cumulative              4656 non-null    float64
 63  excess_mortality                         4656 non-null    float64
 64  excess_mortality_cumulative_per_million  4656 non-null    float64
dtypes: float64(60), object(5)
memory usage: 65.8+ MB

In [169]:
df.shape

(132644, 65)

In [170]:
# number of unique values of a column
df["location"].nunique()
# show unique values of a column
df["date"].unique()
# number of unique values alltogether
df.columns.nunique()
# value counts
df['total_cases'].value_counts()

1.0           1243
4.0            758
3.0            620
2.0            612
721.0          596
              ...
341879.0         1
135441.0         1
3783597.0        1
85469.0          1
10377818.0       1
Name: total_cases, Length: 73232, dtype: int64

In [171]:
df.sample()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
95297,PHL,Asia,Philippines,2020-10-02,316678.0,2599.0,2473.857,5616.0,54.0,60.0,...,7.8,40.8,78.463,1.0,71.23,0.718,NaN,NaN,NaN,NaN

## Basic functions to inspect the data

In [172]:

# show null/NA values per column
df.isnull().sum()
# show NA values as % of total observations per column
df.isnull().sum()*100/len(df)
# drop all rows containing null
df.dropna()
# drop all columns containing null
df.dropna(axis=1)
# drop columns with less than 5 NA values
df.dropna(axis=1, thresh=5)
# replace all na values with -9999
df.fillna(-9999)
# fill na values with NaN
df.fillna(np.NaN)
# fill na values with strings
df.fillna("data missing")
# fill missing values with mean column values
df.fillna(df.mean())
# replace na values of specific columns with mean value
df["total_cases"] = df["total_cases"].fillna(df["total_cases"].mean())
# interpolation of missing values (useful in time-series)
df["total_cases"].interpolate()

0              5.0
1              5.0
2              5.0
3              5.0
4              5.0
            ...
132639    133187.0
132640    133205.0
132641    133242.0
132642    133302.0
132643    133329.0
Name: total_cases, Length: 132644, dtype: float64

In [173]:
randomIndex = np.array(sample(range(len(df)), 5))

# Get 5 random rows
dfsample = df.iloc[randomIndex]

# Print the sample
print(dfsample)

      iso_code      continent          location        date  total_cases  \
93354      PNG        Oceania  Papua New Guinea  2020-10-07        541.0
33115      DMA  North America          Dominica  2020-12-17         88.0
20030      KHM           Asia          Cambodia  2020-10-29        291.0
72921      MWI         Africa            Malawi  2020-10-02       5783.0
599        AFG           Asia       Afghanistan  2021-10-15     155688.0

       new_cases  new_cases_smoothed  total_deaths  new_deaths  \
93354        0.0               1.000           7.0         0.0
33115        0.0               0.429           NaN         NaN
20030        1.0               0.714           NaN         NaN
72921        4.0               2.714         179.0         0.0
599          6.0              34.286        7238.0         0.0

       new_deaths_smoothed  ...  female_smokers  male_smokers  \
93354                0.000  ...            23.5          48.8
33115                0.000  ...             NaN           NaN
20030                0.000  ...             2.0          33.7
72921                0.000  ...             4.4          24.7
599                  2.429  ...             NaN           NaN

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
93354                     NaN                         NaN            64.50
33115                     NaN                         3.8            75.00
20030                  66.229                         0.8            69.82
72921                   8.704                         1.3            64.26
599                    37.746                         0.5            64.83

       human_development_index  excess_mortality_cumulative_absolute  \
93354                    0.555                                   NaN
33115                    0.742                                   NaN
20030                    0.594                                   NaN
72921                    0.483                                   NaN
599                      0.511                                   NaN

       excess_mortality_cumulative  excess_mortality  \
93354                          NaN               NaN
33115                          NaN               NaN
20030                          NaN               NaN
72921                          NaN               NaN
599                            NaN               NaN

       excess_mortality_cumulative_per_million
93354                                      NaN
33115                                      NaN
20030                                      NaN
72921                                      NaN
599                                        NaN

[5 rows x 65 columns]

In [174]:
X = df.groupby("location")
X.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132042,ZWE,Africa,Zimbabwe,2020-03-20,1.0,1.0,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132043,ZWE,Africa,Zimbabwe,2020-03-21,3.0,2.0,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132044,ZWE,Africa,Zimbabwe,2020-03-22,3.0,0.0,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132045,ZWE,Africa,Zimbabwe,2020-03-23,3.0,0.0,NaN,1.0,1.0,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132046,ZWE,Africa,Zimbabwe,2020-03-24,3.0,0.0,NaN,1.0,0.0,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [175]:
df.query('total_deaths > 10000')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
765,OWID_AFR,NaN,Africa,2020-06-30,404891.0,11608.0,11496.000,10146.0,269.0,218.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,OWID_AFR,NaN,Africa,2020-07-01,418104.0,13213.0,11762.143,10404.0,258.0,221.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,OWID_AFR,NaN,Africa,2020-07-02,432306.0,14202.0,12085.143,10643.0,239.0,224.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,OWID_AFR,NaN,Africa,2020-07-03,447466.0,15160.0,12594.000,10882.0,239.0,228.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,OWID_AFR,NaN,Africa,2020-07-04,462951.0,15485.0,13058.000,11083.0,201.0,228.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130852,OWID_WRL,NaN,World,2021-11-07,249890329.0,343644.0,451939.143,5049265.0,4394.0,6981.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
130853,OWID_WRL,NaN,World,2021-11-08,250371526.0,481197.0,460302.000,5055955.0,6690.0,7042.286,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
130854,OWID_WRL,NaN,World,2021-11-09,250850973.0,479447.0,467277.714,5064332.0,8377.0,7202.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
130855,OWID_WRL,NaN,World,2021-11-10,251424349.0,573376.0,475118.429,5072444.0,8112.0,7176.714,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
130856,OWID_WRL,NaN,World,2021-11-11,251941011.0,516662.0,473832.714,5079990.0,7546.0,7164.429,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN

In [176]:
# df.dropna(inplace = True)
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132639,ZWE,Africa,Zimbabwe,2021-11-07,133187.0,19.0,30.000,4685.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132640,ZWE,Africa,Zimbabwe,2021-11-08,133205.0,18.0,28.286,4690.0,5.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132641,ZWE,Africa,Zimbabwe,2021-11-09,133242.0,37.0,27.857,4691.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132642,ZWE,Africa,Zimbabwe,2021-11-10,133302.0,60.0,30.143,4694.0,3.0,1.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132643,ZWE,Africa,Zimbabwe,2021-11-11,133329.0,27.0,31.000,4694.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [177]:
df_filled = df.fillna(axis = 1, method='ffill')

In [178]:
df.dropna(axis=1, how='any')
print(df)

       iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-02-24          5.0        5.0
1           AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2           AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3           AFG      Asia  Afghanistan  2020-02-27          5.0        0.0
4           AFG      Asia  Afghanistan  2020-02-28          5.0        0.0
...         ...       ...          ...         ...          ...        ...
132639      ZWE    Africa     Zimbabwe  2021-11-07     133187.0       19.0
132640      ZWE    Africa     Zimbabwe  2021-11-08     133205.0       18.0
132641      ZWE    Africa     Zimbabwe  2021-11-09     133242.0       37.0
132642      ZWE    Africa     Zimbabwe  2021-11-10     133302.0       60.0
132643      ZWE    Africa     Zimbabwe  2021-11-11     133329.0       27.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         NaN                  NaN
1                      NaN           NaN         NaN                  NaN
2                      NaN           NaN         NaN                  NaN
3                      NaN           NaN         NaN                  NaN
4                      NaN           NaN         NaN                  NaN
...                    ...           ...         ...                  ...
132639              30.000        4685.0         0.0                1.000
132640              28.286        4690.0         5.0                1.571
132641              27.857        4691.0         1.0                1.143
132642              30.143        4694.0         3.0                1.429
132643              31.000        4694.0         0.0                1.286

        ...  female_smokers  male_smokers  handwashing_facilities  \
0       ...             NaN           NaN                  37.746
1       ...             NaN           NaN                  37.746
2       ...             NaN           NaN                  37.746
3       ...             NaN           NaN                  37.746
4       ...             NaN           NaN                  37.746
...     ...             ...           ...                     ...
132639  ...             1.6          30.7                  36.791
132640  ...             1.6          30.7                  36.791
132641  ...             1.6          30.7                  36.791
132642  ...             1.6          30.7                  36.791
132643  ...             1.6          30.7                  36.791

        hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                              0.5            64.83                    0.511
1                              0.5            64.83                    0.511
2                              0.5            64.83                    0.511
3                              0.5            64.83                    0.511
4                              0.5            64.83                    0.511
...                            ...              ...                      ...
132639                         1.7            61.49                    0.571
132640                         1.7            61.49                    0.571
132641                         1.7            61.49                    0.571
132642                         1.7            61.49                    0.571
132643                         1.7            61.49                    0.571

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
132639                                   NaN                          NaN
132640                                   NaN                          NaN
132641                                   NaN                          NaN
132642                                   NaN                          NaN
132643                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
132639               NaN                                      NaN
132640               NaN                                      NaN
132641               NaN                                      NaN
132642               NaN                                      NaN
132643               NaN                                      NaN

[132644 rows x 65 columns]

In [179]:
df.interpolate()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132639,ZWE,Africa,Zimbabwe,2021-11-07,133187.0,19.0,30.000,4685.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,37684.0,13.95,58.9,1110.450877
132640,ZWE,Africa,Zimbabwe,2021-11-08,133205.0,18.0,28.286,4690.0,5.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,37684.0,13.95,58.9,1110.450877
132641,ZWE,Africa,Zimbabwe,2021-11-09,133242.0,37.0,27.857,4691.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,37684.0,13.95,58.9,1110.450877
132642,ZWE,Africa,Zimbabwe,2021-11-10,133302.0,60.0,30.143,4694.0,3.0,1.429,...,1.6,30.7,36.791,1.7,61.49,0.571,37684.0,13.95,58.9,1110.450877
132643,ZWE,Africa,Zimbabwe,2021-11-11,133329.0,27.0,31.000,4694.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,37684.0,13.95,58.9,1110.450877

In [180]:

df['date'] = pd.to_datetime(df['date'])

# Sorting data in ascending order by the date
df = df.sort_values(by='date')

# Now, setting the Date column as the index of the dataframe
df.set_index('date', inplace=True)

# Print the new dataframe and its summary
print(df.head(), df.describe(), sep='\n\n')

           iso_code      continent   location   total_cases  new_cases  \
date
2020-01-01      ARG  South America  Argentina  2.038988e+06        NaN
2020-01-01      MEX  North America     Mexico  2.038988e+06        NaN
2020-01-01      PER  South America       Peru  2.038988e+06        NaN
2020-01-02      MEX  North America     Mexico  2.038988e+06        NaN
2020-01-02      ARG  South America  Argentina  2.038988e+06        NaN

            new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
date
2020-01-01                 NaN           NaN         NaN                  NaN
2020-01-01                 NaN           NaN         NaN                  NaN
2020-01-01                 NaN           NaN         NaN                  NaN
2020-01-02                 NaN           NaN         NaN                  NaN
2020-01-02                 NaN           NaN         NaN                  NaN

            total_cases_per_million  ...  female_smokers  male_smokers  \
date                                 ...
2020-01-01                      NaN  ...            16.2          27.7
2020-01-01                      NaN  ...             6.9          21.4
2020-01-01                      NaN  ...             4.8           NaN
2020-01-02                      NaN  ...             6.9          21.4
2020-01-02                      NaN  ...            16.2          27.7

            handwashing_facilities  hospital_beds_per_thousand  \
date
2020-01-01                     NaN                        5.00
2020-01-01                  87.847                        1.38
2020-01-01                     NaN                        1.60
2020-01-02                  87.847                        1.38
2020-01-02                     NaN                        5.00

            life_expectancy  human_development_index  \
date
2020-01-01            76.67                    0.845
2020-01-01            75.05                    0.779
2020-01-01            76.74                    0.777
2020-01-02            75.05                    0.779
2020-01-02            76.67                    0.845

            excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
date
2020-01-01                                   NaN                          NaN
2020-01-01                                   NaN                          NaN
2020-01-01                                   NaN                          NaN
2020-01-02                                   NaN                          NaN
2020-01-02                                   NaN                          NaN

            excess_mortality  excess_mortality_cumulative_per_million
date
2020-01-01               NaN                                      NaN
2020-01-01               NaN                                      NaN
2020-01-01               NaN                                      NaN
2020-01-02               NaN                                      NaN
2020-01-02               NaN                                      NaN

[5 rows x 64 columns]

        total_cases      new_cases  new_cases_smoothed  total_deaths  \
count  1.326440e+05  125408.000000       124365.000000  1.142930e+05
mean   2.038988e+06    8353.089061         8370.993697  5.045250e+04
std    1.131728e+07   43546.701111        43036.169034  2.589636e+05
min    1.000000e+00  -74347.000000        -6223.000000  1.000000e+00
25%    2.798750e+03       3.000000           10.286000  8.000000e+01
50%    3.632200e+04     104.000000          130.143000  7.410000e+02
75%    3.753300e+05    1077.000000         1133.429000  6.468000e+03
max    2.519410e+08  907963.000000       826457.571000  5.079990e+06

          new_deaths  new_deaths_smoothed  total_cases_per_million  \
count  114489.000000        124365.000000            124766.000000
mean      184.004114           168.641989             19635.283091
std       871.591559           817.796127             32569.807890
min     -1918.000000          -232.143000                 0.001000
25%         0.000000             0.143000               410.191250
50%         2.000000             2.000000              3158.873000
75%        22.000000            18.571000             24850.918250
max     18007.000000         14703.286000            240096.744000

       new_cases_per_million  new_cases_smoothed_per_million  \
count          124764.000000                   123726.000000
mean               86.276426                       86.148532
std               198.882323                      168.222166
min             -3125.829000                     -272.971000
25%                 0.331000                        1.657000
50%                11.313500                       15.870500
75%                83.365000                       92.923000
max              8620.690000                     3385.473000

       total_deaths_per_million  ...  female_smokers  male_smokers  \
count             113662.000000  ...    89329.000000  88037.000000
mean                 402.810296  ...       10.589701     32.748528
std                  662.723769  ...       10.502683     13.512865
min                    0.000000  ...        0.100000      7.700000
25%                   11.892500  ...        1.900000     21.600000
50%                   79.970500  ...        6.300000     31.400000
75%                  522.711000  ...       19.300000     41.300000
max                 6011.916000  ...       44.000000     78.100000

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
count            57713.000000               104208.000000    123313.000000
mean                50.865182                    3.029443        73.260475
std                 31.821458                    2.455593         7.532205
min                  1.188000                    0.100000        53.280000
25%                 20.859000                    1.300000        67.920000
50%                 49.839000                    2.400000        74.620000
75%                 83.241000                    4.000000        78.740000
max                100.000000                   13.800000        86.750000

       human_development_index  excess_mortality_cumulative_absolute  \
count            114771.000000                           4656.000000
mean                  0.726207                          32052.628565
std                   0.150042                          90422.651800
min                   0.394000                         -31959.400000
25%                   0.602000                           -167.750000
50%                   0.744000                           2315.900000
75%                   0.845000                          20475.200000
max                   0.957000                         870830.300000

       excess_mortality_cumulative  excess_mortality  \
count                  4656.000000       4656.000000
mean                      8.667889         15.883224
std                      15.939853         31.062810
min                     -27.350000        -95.920000
25%                      -0.972500         -0.835000
50%                       5.215000          6.465000
75%                      13.580000         22.300000
max                     106.840000        373.610000

       excess_mortality_cumulative_per_million
count                              4656.000000
mean                                781.114218
std                                1166.907295
min                               -1749.128494
25%                                 -43.100925
50%                                 364.906628
75%                                1351.300112
max                                6157.832804

[8 rows x 60 columns]

In [181]:
df['Year'] = df.index.year
df['Month'] = df.index.month
# Display a random sampling of 5 rows
df.sample(5, random_state=0)
# df.query('new_deaths')

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Year,Month
date,,,,,,,,,,,,,,,,,,,,,
2021-04-05,BWA,Africa,Botswana,41710.0,832.0,266.000,616.0,25.0,6.857,17399.176,...,NaN,1.8,69.59,0.735,NaN,NaN,NaN,NaN,2021,4
2021-03-07,OWID_SAM,NaN,South America,18607163.0,103091.0,91299.714,560701.0,2148.0,2570.571,42847.965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,3
2021-10-07,GTM,North America,Guatemala,574713.0,2610.0,2056.857,13902.0,51.0,48.286,31491.351,...,76.665,0.6,74.30,0.663,NaN,NaN,NaN,NaN,2021,10
2021-09-02,COM,Africa,Comoros,4076.0,4.0,3.000,147.0,0.0,0.000,4587.734,...,15.574,2.2,64.32,0.554,NaN,NaN,NaN,NaN,2021,9
2020-12-03,DZA,Africa,Algeria,85927.0,843.0,973.857,2480.0,16.0,18.286,1925.896,...,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN,2020,12

In [182]:
df

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Year,Month
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,ARG,South America,Argentina,2.038988e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN,2020,1
2020-01-01,MEX,North America,Mexico,2.038988e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN,2020,1
2020-01-01,PER,South America,Peru,2.038988e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.60,76.74,0.777,NaN,NaN,NaN,NaN,2020,1
2020-01-02,MEX,North America,Mexico,2.038988e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN,2020,1
2020-01-02,ARG,South America,Argentina,2.038988e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-11,FJI,Oceania,Fiji,5.235600e+04,0.0,21.000,679.0,0.0,0.714,57986.552,...,NaN,2.30,67.44,0.743,NaN,NaN,NaN,NaN,2021,11
2021-11-11,BLR,Europe,Belarus,6.216890e+05,1981.0,1951.143,4805.0,16.0,15.571,65836.890,...,NaN,11.00,74.79,0.823,NaN,NaN,NaN,NaN,2021,11
2021-11-11,SAU,Asia,Saudi Arabia,5.491030e+05,43.0,42.571,8809.0,2.0,1.286,15537.420,...,NaN,2.70,75.13,0.854,NaN,NaN,NaN,NaN,2021,11
2021-11-11,FIN,Europe,Finland,1.671190e+05,863.0,775.857,1216.0,4.0,4.571,30120.427,...,NaN,3.28,81.91,0.938,NaN,NaN,NaN,NaN,2021,11
2021-11-11,ZWE,Africa,Zimbabwe,1.333290e+05,27.0,31.000,4694.0,0.0,1.286,8834.315,...,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN,2021,11

In [183]:
df2=df.reset_index()
df2=df2[['date','continent','location','total_cases']]
df2.index = pd.to_datetime(df2['date'],format='%m/%d/%y %I:%M%p')
df2.head()

                 date      continent   location   total_cases
date
2020-01-01 2020-01-01  South America  Argentina  2.038988e+06
2020-01-01 2020-01-01  North America     Mexico  2.038988e+06
2020-01-01 2020-01-01  South America       Peru  2.038988e+06
2020-01-02 2020-01-02  North America     Mexico  2.038988e+06
2020-01-02 2020-01-02  South America  Argentina  2.038988e+06